# checker systemd units

[Unit]
Description=Checker checks out %i

[Service]
WorkingDirectory=/etc/checker/checks/%i
ExecStart=/etc/checker/checks/%i/check.sh
ExecStopPost=/bin/bash -c '\
    systemctl status %n;\
    for script in /etc/checker/notifiers/*.sh; do\
        if [ -x "$script" ]; then\
            echo "Notifying with $script";\
            "$script" "%h" "%i" "$EXIT_CODE" &\
        fi;\
    done;\
    wait;'
EnvironmentFile=-/etc/checker/checks/%i/check.env
#User=$USER
#Group=$GROUP
Type=exec
#SuccessExitStatus=0 1 2 3
