# checker systemd units

[Unit]
Description=Checker checks out %i
OnSuccess=checker-notifier@%i.service
OnFailure=checker-notifier@%i.service

[Service]
WorkingDirectory=/etc/checker/checks/%i
ExecStart=/etc/checker/checks/%i/check.sh
EnvironmentFile=-/etc/checker/checks/%i/check.env
#User=$USER
#Group=$GROUP
Type=exec
#SuccessExitStatus=0 1 2 3

[Install]
WantedBy=checker.target
